{{> navBar}}

<div class="userProfileCont">
    <img src="http://localhost:8000/photo/{{x.picUrl}}" width="150px" height="150px"
        style="border-radius: 50%;margin-left:50px" />
    <div class="userName">
        <p>Name: {{x.name}} </p>
        <p>Surname: {{x.surname}}</p>
        <form action="/uploadPicUrl" method="post" enctype="multipart/form-data">
            <input type='file' name='picUrl' />
            <button class="changeUsPhotoBtn">Change Photo</button>
        </form>
        <a class="seeUserPhoto" href="/user_photos?id={{x.id}}">See Photos</a>
    </div>
</div>

<table class='table-dark'>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Count</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
    </tr>
    {{#each card}}
    <tr>
        <td>{{dataValues.product.dataValues.name}}</td>
        <td>
            <div class="d1">
                <form action="/minus?id={{dataValues.id}}" method="post">
                    <button class="minusBtn">-</button>
                </form>
                <span>{{dataValues.quantity}}</span>
                <form action="/plus?id={{dataValues.id}}" method="post">
                    <button class="plusBtn">+</button>
                </form>

            </div>
        </td>
        <td>${{dataValues.product.dataValues.price}}</td>
        <td>
            <form action="/removeFromCard?id={{dataValues.product.dataValues.id}}" method="post">
                <button class="rejBtn1">Remove from Card</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>

    <h1>Total:{{total}}</h1>