{{> navBar}}

<div class="userProfileCont">
    <img src="http://localhost:8000/photo/{{x.picUrl}}" width="150px" height="150px" style="border-radius: 50%;margin-left:50px" />
    <div class="userName">
        <p>Name: {{x.name}} </p>
        <p>Surname: {{x.surname}}</p>
    <form  action="/uploadPicUrl" method="post" enctype="multipart/form-data">
        <input type='file' name='picUrl' />
        <button class="changeUsPhotoBtn">Change Photo</button>
    </form>
        <a class="seeUserPhoto" href="/user_photos?id={{x.id}}">See Photos</a>
    </div>
</div>


{{#if temp.length}}
<div class="back">
    {{#each temp}}
        <div class="prod">
            <img src="http://localhost:8000/photo/{{product.product_photos.0.dataValues.picUrl}}" width="100%" height="150px"/>
            <h1>{{product.dataValues.name}}</h1>
            <h2>Desc: {{product.dataValues.description}}</h2>
            <h3>Count: {{product.dataValues.count}}</h3>
            <h3>Price: ${{product.dataValues.price}}</h3>
            <form action="/addToCard?id={{product.dataValues.id}}" method="post">
                <button class="loginBtn">Add to Card</button>
            </form>

            <form action="/removeFromFavorite?id={{product.dataValues.id}}" method="post">
            <button class="rejBtn" style="width:200px;">Remove From Favorite</button>
            </form>
        </div>
    {{/each}}
</div>
{{else}}
<h1>You stil haven't Favorite Procuts</h1>
{{/if}}